# Curso de Python Básico

Este é um curso básico de python que tem o objetivo de apresentar a linguagem python de uma **maneira rápida e objetiva**. Vamos direto ao ponto nos conceitos básicos da programação e python com muita mão na massa! 

Neste curso, vamos trabalhar no **modo iterativo** do python. Porém, entenda que você pode trabalhar no modo script com várias linhas de código usando um arquivo no formato .py.

Ao final desse Curso, espero que você se aprenda python e se motive cada vez mais em utilizar a linguagem para diversas tarefas e problemas do mundo real.

Este notebook vai apenas passar pelos tópicos básicos em ordem:

* 1. Conceitos Básicos
    * 1.1 Variáveis
    * 1.2 Comentários
    * 1.3 Expressões
    * 1.4 Imprimindo Valores
    * 1.5 Tipos de dados
        * 1.4.1 Inteiro
        * 1.4.2 Float
        * 1.4.3 String
        * 1.4.4 Boelano
        * 1.4.5 Nulo
    * 1.6 Verificando e Modificando os diferentes Tipos de Dados
    * 1.7 Operadores Aritméticos
* 2. Estrutura de dados
    * 2.1 Listas
    * 2.2 Dicionários
    * 2.3 Tuplas
    * 2.4 Sets
* 3. Operadores de comparação
    * 3.1 Maior que
    * 3.2 Menor que
    * 3.3 Maior ou igual que
    * 3.4 Menor ou igual que
    * 3.5 Igual a
    * 3.6 Diferente de
    * 3.7 Pertence 
    * 3.8 Negação
* 4. Operadores Lógicos
    * 4.1 and
    * 4.2 or
* 5. Estrutura condicionais
    * 5.1 if
    * 5.2 else
    * 5.3 elif
* 6. Estrutura de Repetição
    * 6.1 for 
    * 6.2 range
    * 6.3 while 
    * 6.4 while-else
    * 6.5 break

* 7. funções
    * 7.1 Funções SEM retorno
    * 7.2 Funções COM retorno
    * 7.3 Funções anônimas (lambda)
    * 7.4 map e filter
* 8. Python intermediário
    * 8.1 List Comprehension
    * 8.2 Generators
    * 8.3 Tratando erros em Python
    * 8.4 Lidando com String
    * 8.5 Lidando com datas e tempo

* 9. Python Orientação a Objetos
    * 9.1 Classes e Objetos
    * 9.2 Instância
    * 9.3 Atributos
    * 9.4 Construtor
    * 9.5 Herança
    * 9.6 Polimofismo

##  1. Conceitos Básicos

#### 1.5. Tipos de dados
- Inteiro
- Float
- Boleano
- String
- Nulo

In [ ]:
# Int
numero = 1

In [2]:
# Float
numero = 1.0

In [ ]:
# String
texto = "'Python é fácil'"
# 'Citação simples'
# "Citações duplas"

In [5]:
# Boleano
brasileiro = True

In [1]:
# Nulo
dado = None

In [ ]:
valor = '25'

#### 1.6 Verificando e modificando os tipos de dados

In [3]:
# Consultando tipos de dados
type(dado)

NoneType

In [4]:
# Convertendo tipos de dados
int(numero)

1

## Agora é sua vez

1) Crie um programa que receberá nome, idade, salário e brasileiro. o nome é uma variável String, a idade é uma variável inteira, o salário é uma variável float e brasileiro é uma variável boleana. 

2) Converta o a variável idade para float e a variável brasileiro para string.

3) Verifique o tipo de cada variável e imprima os valores e seus tipos conforme a saída abaixo:

**Saída:** 
- 'a variável idade é do tipo: {TIPO_DA_VARIAVEL}'
- 'a variável brasileiro é do tipo: {TIPO_DA_VARIAVEL}'
- 'a variável nome é do tipo: {TIPO_DA_VARIAVEL}'

In [6]:
nome = 'Marco'
idade = 40
salario = 2550.25
brasileiro = False

In [17]:
brasileiro = str(brasileiro)

In [18]:
idade = float(idade)

In [21]:
print(f'a variável idade é do tipo: {type(idade)}')
print(f'a variável brasileiro é do tipo: {type(brasileiro)}')
print(f'a variável nome é do tipo: {type(nome)}')

a variável idade é do tipo: <class 'float'>
a variável brasileiro é do tipo: <class 'str'>
a variável nome é do tipo: <class 'str'>